body {
  /* background: #1B1B25; */
  /* color: #fff; */
  font-family: "Josefin Sans", sans-serif;
}

.separator {
  width: 30%;
}

.title {
  margin-top: 100px;
  margin-bottom: 10px;
}
.title a {
  color: #DB4D57;
}
.title a:hover {
  text-decoration: none;
  font-weight: bold;
}
.title hr {
  width: 75%;
}

.summary {
  padding: 20px;
}
.summary p {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.work-experience {
  padding: 20px;
}
.work-experience .experience-title {
  margin-top: 50px;
}
.work-experience .experience-summary {
  margin-top: 30px;
  margin-bottom: 50px;
}
.work-experience p {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
.container {
  width: 1050px;
}

@media print {
	.no-print, .no-print * { display: none !important; }
}