<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  <link rel="stylesheet" href="{% static 'styles/resume10.css' %}">

  <meta charset="UTF-8">
  <title>CodePen - Resume stuff</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


</head>

<body>
  <!-- partial:index.partial.html -->
  <!-- FONTS
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'> -->

  <!-- <ul class="download_print_buttons">
    <li onclick="downloadCV()"><span class="icon"></span>Download CV</a></li>
  </ul> -->

  <button class="btn btn-block no-print btn-success" onclick="window.print()">PRINT AS PDF</button>

  <!-- PAGE STUFF -->
  <div class="rela-block page" id="resume">
    <div class="rela-block top-bar">
      <div class="caps name">
        <div class="abs-center">Kyle J Shanks</div>
      </div>
    </div>
    <div class="side-bar">
      <div class="mugshot">
        <div class="logo">
          <svg viewbox="0 0 80 80" class="rela-block logo-svg">
            <path d="M 10 10 L 52 10 L 72 30 L 72 70 L 30 70 L 10 50 Z" stroke-width="2.5" fill="none" />
          </svg>
          <p class="logo-text">kj</p>
        </div>
      </div>
      <p>123 My Place Drive</p>
      <p>Astoria, New York 11105</p>
      <p>1-800-CALLPLZ</p>
      <p>emailsareforsquares@gmail.com</p><br>
      <p class="rela-block social twitter">Twitter stuff</p>
      <p class="rela-block social pinterest">Pinterest things</p>
      <p class="rela-block social linked-in">Linked-in man</p>
      <p class="rela-block caps side-header">Expertise</p>
      <p class="rela-block list-thing">HTML</p>
      <p class="rela-block list-thing">CSS (Stylus)</p>
      <p class="rela-block list-thing">JavaScript & jQuery</p>
      <p class="rela-block list-thing">Killer Taste</p>
      <p class="rela-block caps side-header">Education</p>
      <p class="rela-block list-thing">Advanced potion making</p>
      <p class="rela-block list-thing">Degree in popping and locking</p>
      <p class="rela-block list-thing">Knitting game on point</p>
      <p class="rela-block list-thing">Culinary af</p>
    </div>
    <div class="rela-block content-container">
      <h2 class="rela-block caps title">Jr Front-End Developer</h2>
      <div class="rela-block separator"></div>
      <div class="rela-block caps greyed">Profile</div>
      <p class="long-margin">Retro DIY quinoa, mixtape williamsburg master cleanse bushwick tumblr chillwave
        dreamcatcher hella wolf paleo. Knausgaard semiotics truffaut cornhole hoodie, YOLO meggings gochujang tofu.
        Locavore ugh kale chips iPhone biodiesel typewriter freegan, kinfolk brooklyn kitsch man bun. Austin neutra
        etsy, lumbersexual paleo cornhole sriracha kinfolk meggings kickstarter. </p>
      <div class="rela-block caps greyed">Experience</div>

      <h3>Job #1</h3>
      <p class="light">First job description</p>
      <p class="justified">Plaid gentrify put a bird on it, pickled XOXO farm-to-table irony raw denim messenger bag
        leggings. Hoodie PBR&B photo booth, vegan chillwave meh paleo freegan ramps. Letterpress shabby chic fixie
        semiotics. Meditation sriracha banjo pour-over. Gochujang pickled hashtag mixtape cred chambray. Freegan
        microdosing VHS, 90's bicycle rights aesthetic hella PBR&B. </p>

      <h3>Job #2</h3>
      <p class="light">Second Job Description</p>
      <p class="justified">Beard before they sold out photo booth distillery health goth. Hammock franzen green juice
        meggings, ethical sriracha tattooed schlitz mixtape man bun stumptown swag whatever distillery blog. Affogato
        iPhone normcore, meggings actually direct trade lomo plaid franzen shoreditch. Photo booth pug paleo austin,
        pour-over banh mi scenester vice food truck slow-carb. Street art kogi normcore, vice everyday carry crucifix
        thundercats man bun raw denim echo park pork belly helvetica vinyl. </p>

      <h3>Job #3</h3>
      <p class="light">Third Job Description</p>
      <p class="justified">Next level roof party lo-fi fingerstache skateboard, kogi tumblr. Shabby chic put a bird on
        it chambray, 3 wolf moon swag beard brooklyn post-ironic taxidermy art party microdosing keffiyeh marfa. Put a
        bird on it 3 wolf moon cliche helvetica knausgaard. Mumblecore fingerstache lomo, artisan freegan keffiyeh paleo
        kinfolk kale chips street art blog flannel.</p>
    </div>
  </div>
  <!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js">
  </script>

  <script>

    window.jsPDF = window.jspdf.jsPDF;
    window.html2canvas = html2canvas;

    var specialElementHandlers = {
      '.no-expert': function (element, renderer) {
        return true
      }
    }

    function downloadCV() {

      const { jsPDF } = window.jspdf;

      let doc = new jsPDF('p', 'mm', 'a4');
      let pdfjs = document.querySelector('#resume');
      doc.html(pdfjs, {
        callback: function (doc) {
          doc.save("newpdf.pdf");
        },
        // margin: [10, 10, 10, 10],

        autoPaging: 'text',
        x: 0,
        y: 0,
        width: 210, //target width in the PDF document
        height: 297,
        windowWidth: 1200	 //window width in CSS pixels
      });
    }
  </script>
</body>

</html>