<!DOCTYPE html>
<html>

<head>
  <title>Resume</title>
  {% load static %}

  <link rel="stylesheet" href="{% static 'styles/resume3.css' %}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js">
  </script>
</head>

<body>
  <button id="download-button">generate PDF</button>
  <div id="editor"></div>
  <div class='parent' id="content">
    <header>
      <h1>{{name}}</h1>
      <h2>{{title}}</h2>
    </header>

    <section>
      <h3>Summary</h3>
      <p>{{summary}}</p>
    </section>

    <section>
      <h3>Experience</h3>
      {% for experience in workExperience %}
      <p><em>{{experience.dates}} | {{experience.company}} | {{experience.title}}</em></p>
      <!-- <p>{{experience.description}}</p> -->

      {% for line in experience.description %}
      <p>
        <li>{{line}}</li>
      </p>
      {% endfor %}

      {% endfor %}
    </section>

    <section>
      <h3>Education</h3>
      {% for edu in education %}
      <p><em>{{edu.dates}} | {{edu.school}} | {{edu.degree}}</em></p>
      <p>{{edu.description}}</p>

      {% endfor %}
    </section>

    <footer>
      <p>Email: {{contactInfo.email}}</p>
      <p>Phone: {{contactInfo.phone}}</p>
      <p>Address: {{contactInfo.address}}</p>
      <p>LinkedIn: {{contactInfo.linkedin}}</p>
      <p>Github: {{contactInfo.github}}</p>
    </footer>
  </div>
  <script src="{% static 'resume_app/js/script.js' %}"></script>
</body>

</html>